import { useFormik } from "formik"
import { useAddnewUsersMutation } from "../../servers/user"
import { useNavigate } from "react-router-dom"

function Home(){
    var navi=   useNavigate()
    const [nfn] = useAddnewUsersMutation();

    console.log("nn" + nfn);
  
      var newuserform= useFormik({
                initialValues:{username:"",password:"",role:"","id":""},
                onSubmit: (values) => {
                    nfn(values).then((res) => {
                      alert(JSON.stringify(res));
                      console.log(values);
                    });
                  },

            })
            function Login(){
                navi("/login")
            }
    return(
        <div>
            <form onSubmit={newuserform.handleSubmit}>
            <h3>Registration</h3>

            <i className="bi bi-person-fill" >Username :</i> <br></br>

                <input type="text"  name="username" onChange={newuserform.handleChange} onBlur={newuserform.handleBlur}/><br/>
                <i class="bi bi-lock-fill">Password :</i> <br></br>


                <input type="text" name="password" onChange={newuserform.handleChange} onBlur={newuserform.handleBlur}/><br/>
                Role : <br />
                <input type="text" name="role" onChange={newuserform.handleChange} onBlur={newuserform.handleBlur}/><br />
                <button className="btn btn-outline-dark">Regiration</button>
                <button className="btn btn-outline-dark" onClick={()=>{Login()}} >Login</button>

            </form>
       </div>
    )
}
export default Home